*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    color: white;
    background-color: black;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #F7F7F7;  
}
#nav{
    /* height: 100px; */
    width: 100%;
    position: fixed;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: burlywood; */
    z-index: 99;
}
#nav #nav-part1{
    /* background-color: red; */
    height: 82px;
    /* overflow: hidden; */
}
#nav-part1 svg{
    display: block;
}
#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
   gap: 40px;
}
#links{
    padding: 10px;
}
#nav-part2 #links a{
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    margin:0  20px;
    
}
#nav-part2 #icons i {
  font-size: 18px;
  margin: 0 20px;
  font-weight: 100;
    
}
#icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}
#cursor{
    height: 100px;
    width: 100px;
    background-color: blanchedalmond;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%,-50%) scale(0);
    
}
#page1{

    min-height: 100vh;
    width: 100%;
   position: relative;
   padding: 0 1vw;
   padding-top: 19vh;
   /* background-color: aqua; */
}
#page1 h1{
    font-size: 15.8vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -8px;
}
#video-container{
    height: 100vh;
    width: 100%;
    margin-top: 8vw;
    position: relative;
    background-color: grey;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play{
    padding: 3vw 2.3vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}
#page2{
    min-height: 100vh;
    width: 100%;
    /* background-color: red;
     */
     position: relative;
     display: flex;
     align-items: center;
     padding: 3vw 1vw;
     justify-content: space-between;

}
#page2 .elem{
    height: 100%;
    width: 30%;
    overflow: hidden;
    position: relative;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}
.elem .dets {
    height: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    background-color: pink;
    border-radius: 50px;

}
#page2 .elem .dets:hover{
    height: 200px;
}
#page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    /* background-color: #f7f7f7; */
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* z-index: 0; */
    
}
.child{
    height: 54vh;
    width: 38vw;
    /* background-color: red; */
    /* border: 2px solid; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child img {
    height: 100%;

}
@media (max-width:600px) {
    #page1{

        min-height: 70vh;
        width: 100%;
       position: relative;
       padding: 0 3vw;
       padding-top: 25vh;
       /* background-color: aqua; */
    }
    #page1 h1{
        font-size: 15.5vw;
        text-transform: uppercase;
        font-family: futura;
        line-height: 14vw;
        letter-spacing: -3px;
    }     
    #video-container{
        height: 25vh;
        margin-top: 3vw;
        /* width: 100%; */
        margin-top: 8vw;
        position: relative;
        background-color: grey;
    }
    #video-container #play{
        padding: 6vw 5.2vw;
        /* background-color: black; */
        color: #fff;
        font-size: 4vw;
        position: absolute;
        top: 50%;
        left:50%;
        text-transform: uppercase;
        /* font-family: futura; */
        border-radius: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%,-50%);

    }
    #page2{
        min-height: 100vh;
        width: 100%;
        /* background-color: red;
         */
         position: relative;
         display: flex;
         align-items: center;
         padding: 5vw 3vw;
         justify-content: space-between;
         flex-direction: column;
         
        }
     
    #page2 .elem{
        height: 100vh;
        width: 100%;
        overflow: hidden;
        /* background-color: red; */
        margin-bottom: 3vw;
    }
    .elem .dets {
        height: 40px;
        width: 70%;
        position: absolute;
        z-index: 9;
        background-color: pink;
        border-radius: 50px;
    
    }

}

